{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
    <div id="gameContainer">
        
        <canvas id="gameCanvas"></canvas>
        <div id="answerWrapper">
            <div id="resultBoxWrapper">
                <div id="resultBox"></div>
                <button id="nextButton" onclick="nextControl()">≫</button>
            </div>
            <div id="routeButtonContainer"></div>
        </div>
        <div id="modalP" class="modal">
            <div id="modalcP" class="modal-content">
                <span id="closeProjects" class="closeModal">&times;</span>

                <div id="projectTableDiv">
                    <table id="fileTable">
                        <thead>
                            <tr>
                                <th class="tableHeadProjects">Projekt</th>
                                <th class="tableHeadProjects">Posten</th>
                                <th class="tableHeadProjects">Status</th>
                            </tr>
                        </thead>
                        
                        <tbody id="tbody" class = "tbody">
                            <!-- File list will be dynamically inserted here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            
        </div>

        <button id="openButton" class="buttonMain" onclick="openModal()">Auswählen</button>
    </div>
    <script src="{% static 'js/play.js' %}"></script>
    {% endblock %}