{% extends "base.html" %}

{% load static %}
{% block content %}
	<div class="divMain" id="divC">
		<div id="headC">
		<table id="tableHC">
			<thead>
				<tr>
					<th id="buttonControl" class="tableHeadMain" onclick="setModeC()">Posten</th>
				</tr>
			</thead>
		</table>
		</div>
		<div id="tableC">
		<table id="controlPairsTable">
			<tbody>
			<!-- Rows will be dynamically added here -->
			</tbody>
		</table>
		</div>
	</div>
	
	<div class="divMain" id="divR">
		<table id="routesTable">
			<thead>
				<tr>
					<th id="buttonRoute" class="tableHeadMain" onclick="setModeR()">Routen</th>
					<th class="tableHeadMain">Distanz</th>
					<th class="tableHeadMain">Höhe</th>
				</tr>
			</thead>
			<tbody>
			<!-- Rows will be dynamically added here -->
			</tbody>
		</table>
	</div>

	<div class="divMain" id="divP">
		<table id="tableS">
			<thead>
				<tr>
					<th id="buttonProjects" class="tableHeadMain">Projekte...</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="divMain" id="divM">
		<table id="tableM">
			<thead>
				<tr>
					<th id="buttonMap" class="tableHeadMain">Karte...</th>
				</tr>
			</thead>
		</table>
	</div>


	<div id="modalP" class="modal">
        <div class="modal-content">
			<span id="closeProjects" class="closeModal">&times;</span>
			<div id="inputDiv">
            	<input type="text" id="filename" placeholder="Projektname">
            	<button id="submitSaveButton">Speichern</button>
				<button id="downloadButton" onclick="downloadJSON(cqc, 'cqc_data.json')">Download</button>
			</div>
			<div id="projectTableDiv">
				<table id="fileTable">
					<thead>
						<tr>
							<th class="tableHeadProjects">Projekt</th>
							<th class="tableHeadProjects">Posten</th>
							<th class="tableHeadProjects">Letzte Änderungen</th>
							<th class="tableHeadProjects"></th>
							<th class="tableHeadProjects"></th>
							<th class="tableHeadProjects"></th>
						</tr>
					</thead>
					
					<tbody id="tbody" class = "tbody">
						<!-- File list will be dynamically inserted here -->
					</tbody>
				</table>
			</div>
        </div>
    </div>

	<div id="modalM" class="modal">
		<div class="modal-content">
			<span id="closeMap" class="closeModal">&times;</span>
			<div id="inputDiv">
				<form id="uploadForm" enctype="multipart/form-data">
					<input type="file" id="fileInput" accept="image/*">
					<button type="submit" id="uploadButton">Upload</button>
				</form>
			</div>
			<div id="scalingInfo">
				<button id="buttonScale" onclick="scaleMap()">Karte skalieren</button>
				<span>
					<p>1.: Zwei Punkte auf Karte heraussuchen.</p>
					<p>2.: Abstand messen (z. B. mit <a href="https://earth.google.com" target="_blank" rel="noopener noreferrer">Google Earth</a>).</p>
					<p>3.: Punkte auf OL-Karte auswählen und Distanz eingeben.</p>
				</span>
			</div>
			<div id="scaleInputDiv">
        		<input type="number" id="scaleInput" placeholder="Distanz (m)">
        		<button onclick="submitScale()">Submit</button>
			</div>
		</div>
	</div>

	<canvas id="routeCanvas" tabindex="0"></canvas>
	
	<script src="{% static 'js/coursesetter.js' %}"></script>
{% endblock %}