{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="home-container">

    <div id="logoContainer">
          <img id="titleLogo" src="{% static 'img/logo.svg' %}">
    </div>
    {% if is_trainer %}
        <a class="home-button full-width" href="/coursesetter/">Erstellen</a>
    {% endif %}
    <a id="playButton" class="home-button full-width" href="/play/">Play</a>

    <div class="half-button-row">
        <a class="home-button half-width" href="/results/">Resultate</a>
        <a class="home-button half-width" href="/statistik/">Statistiken</a>
    </div>

    <a class="password-link" href="/password_change/">Passwort ändern</a>
</div>
{% endblock %}